@import "tailwindcss";

/* Base typography scale */
html {
  font-size: 16px;
}

/* Custom theme scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #450a0a;
  border: 1px solid #7f1d1d;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #991b1b;
}

/* Firefox scrollbar support */
* {
  scrollbar-width: thin;
  scrollbar-color: #7f1d1d #09090b;
}
